* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial;
}

@font-face {
      font-family: "robo";
      src: url("assets/fonts/robo.ttf");
}

@font-face {
    font-family: adequate;
    src: url("assets/fonts/adequate.ttf");
}

html,
body {
    background-color: #272830;
    overflow-x: hidden;
}

.navbar {
    padding: 15px 0 !important;
    z-index: 100;
    background-color: rgba(255,255,255,0.2) !important;
    margin: 20px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

.navbar-scrolled {
    margin: 0;
    border-radius: 0px;
    background-color: #1b1c22 !important;
}

.navbar .menu-logo {
    width: 30px;
    height: 30px;
}

section:not(#inicio) {
    padding: 50px 0;
    background-color: white;
}

section h2 {
    border: 2px solid #4d4d4d;
    color: #4d4d4d;
    border-radius: 15px;
    display: inline-block;
    padding: 15px;
    margin-bottom: 50px;
}

section#inicio .bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    background-image: url("assets/images/bg.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

section#inicio .bg > div {
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 50px 0;
}

section#inicio .bg h2 {
    color: white;
    letter-spacing: 0.5rem;
    border: 0px !important;
    margin: 0;
    padding: 0;
}

section#inicio .bg h4 {
    color: lightgray;
}



section#servicios {
    background-color: #01588d;
}

section#servicios h2 {
    color: lightyellow;
    border-color: lightyellow;
}

section#servicios .menu {
    padding-bottom: 0px;
}

section#servicios .content {
    background-color: white;
    border-radius: 10px;
}

section#servicios .menu a {
    color: white;
    padding: 15px;
    margin: 10px 5px 0px 5px;
    text-decoration: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    display: inline-block;
    background-color: rgba(255,255,255,0.2);
}

section#servicios .menu a.active {
    color: black;
    background-color: white;
}

section#servicios .servicio {
    padding: 50px;
}

section#servicios .description {
    background-color: aqua;
    position: relative;
    bottom: 0;
}

.modal .msg h1 {
    color: darkgreen;
}

section#proyectos > div {
    background-color: white;
}

section#proyectos #lista-proyectos h4 {
    border-bottom: 1px solid black;
}

section#proyectos i {
    font-size: 3rem;
}

section#proyectos img, section#proyectos video {
    border-radius: 15px;
}



footer .row {
    padding: 100px 0;
}

footer a:not(.disabled) i {
    font-size: 5rem;
    color: gray;
    transition: color 0.25s;
}

footer a:not(.disabled) i:hover {
    color: skyblue;
}

footer a.disabled {
    cursor: default;
}

footer a.disabled i {
    color: #4d4d4d;
    font-size: 5rem;
}

@media only screen and (min-width: 768px) {
  footer a:not(.disabled) i, footer a.disabled i {
      font-size: 3rem;
  }
}



.tooltip-inner {
    background-color: skyblue;
    box-shadow: 0px 0px 4px black;
    opacity: 1 !important;
    color: black;
}
.tooltip.bs-tooltip-right .tooltip-arrow::before {
    border-right-color: skyblue !important;
}
.tooltip.bs-tooltip-left .tooltip-arrow::before {
    border-left-color: skyblue !important;
}
.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: skyblue !important;
}
.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: skyblue !important;
}



.contactMeButton {
    display: inline-block;
    border-radius: 4px;
    background-color: firebrick;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: normal;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
}

.contactMeButton:hover {
    color: white;
}

.contactMeButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.contactMeButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.contactMeButton:hover span {
    padding-right: 25px;
}

.contactMeButton:hover span:after {
    opacity: 1;
    right: 0;
}




.title {
    font-size: 1.75rem;
    font-family: robo;
    font-weight: bold;
}

.subtitle {
    font-size: 1.15rem;
    letter-spacing: 0.4rem;
    font-family: robo;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .title {
        font-size: 3rem;
    }

    .subtitle {
        font-size: 1.25rem;
    }
}
